* html {}

.body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.nav-container {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 10px;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}

.firstname {
    color: olivedrab;
    font-weight: 700;
}

.lastname {
    color: olive;
    padding-left: 4px;
}

.nav-ul {
    display: flex;
    justify-content: left;
    align-items: left;
}

.nav-ul>li {
    padding: 15px;
}

.nav-ul>li>a {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-ul>li>a:hover {
    color: burlywood;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.ula {
    background-color: yellowgreen;
    color: orchid;
    padding: 15px;
    border-radius: 10px;
}

.ula:hover {
    color: white !important;
}

.content {
    font-size: 20px;
}

.footer-container {
    display: table;
    float: right;
    background-color: darkkhaki;
    width: 100%;
    height: 20px;
    text-align: center;
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms